.zig-cache
zig-out/
build/
scratch/

# Compiled executables
simple_c_compiler
repl

# Compiled object files
*.o

# Generated executables
*.out
*.exe

# Bundle files
*.bundle
*.dylib

# Integration test artifacts
tests/integration/*.c
tests/integration/*
!tests/integration/*.lisp
!tests/integration/*.expected

# Emacs
.example.lisp.~undo-tree~