.zig-cache
zig-out/
build/
scratch/

# Compiled executables
simple_c_compiler
repl

# Compiled object files
*.o

# Bundle files
*.bundle

# Integration test artifacts
tests/integration/*.c
tests/integration/*
!tests/integration/*.lisp
!tests/integration/*.expected

# Emacs
.example.lisp.~undo-tree~