{:dependencies [[meander/gamma "0.0.22"]
                [lilactown/hx "0.4.0"]
                [cider/cider-nrepl "0.16.0-SNAPSHOT"]]
 :source-paths ["src"]
 :nrepl        {:port 8703}
 :builds       {:bootstrap {:target     :bootstrap
                            :output-dir "out/public/js/bootstrap"
                            :entries    [cljs.js meander-editor.eval-env]
                            :exclude    #{cljs.js meander-editor.core}}
                :browser {:target :browser

                          :output-dir       "out/public/js"
                          :asset-path       "/js"
                          

                          :compiler-options
                          {:optimizations :simple}

                          :modules
                          {:base
                           {:entries [shadow.cljs.bootstrap.env]}

                           ;; Without this split code mirror causes problems for the woker
                           :core
                           {:entries [meander-editor.core]
                            :depends-on #{:base}}

                           :worker
                           {:entries [meander-editor.worker]
                            :depends-on #{:base}
                            :exclude #{meander-editor.core}
                            :web-worker true}}

                          :devtools         {:http-root  "out/public"
                                             :http-port  8702
                                             :after-load meander-editor.core/render}}}}
