*.ibc
*.class
**/node_modules/*
**/.nrepl-port
**/.stack-work/*
**/compiled/*
unify
.DS_STORE
**/.idea/
*.iml
**/log/
*.log
.gradle/
target/
.cpcache/
.env
.cljs_node_repl/
.next/
.o
.vscode/
out/
packages/
.vscode-test/
.claude