@import 'bulma.css';

.page {
    width: 500px;
    margin: auto;
}

.control-panel {
    width: 450px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #776e65;
    margin-bottom: 0;
    margin-top: 15px;
}

.score {
    color: #776e65;
    font-size: 2em;
    vertical-align: bottom;
}

.game-title {
    font-weight: bold;
    font-size: 3.4em;
    float: left;
    line-height: 60px;
    height: 60px;
}

.game-controls {
    float: right;
    line-height: 60px;
    height: 60px;
}

.board {
    position: relative;
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
}

.board-flip {
    z-index: 10;
}

.board-bg {
    position: absolute;
    top: 5px;
    right: 5px;
}

.board-surround {
    position: relative;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #bbada0;
    padding: 5px;
}

.square {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 5px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.square-bg {
    background: rgba(238, 228, 218, 0.35);
}


.square-0 {
    background: rgba(238, 228, 218, 0.0);
}

.square-2 {
    background-color: #eee4da;
    font-size: 5em;
    color: #776e65;
}

.square-4 {
    background-color: #ede0c8;
    font-size: 5em;
    color: #776e65;
}

.square-8 {
    color: #f9f6f2;
    background-color: #f2b179;
    font-size: 5em;
}

.square-16 {
    color: #f9f6f2;
    background-color: #f59563;
    font-size: 4em;
}

.square-32 {
    color: #f9f6f2;
    background-color: #f67c5f;
    font-size: 4em;
}

.square-64 {
    color: #f9f6f2;
    background-color: #f65e3b;
    font-size: 4em;
}

.square-128 {
    color: #f9f6f2;
    background-color: #edcf72;
    font-size: 3em;
}

.square-256 {
    color: #f9f6f2;
    background-color: #edcc61;
    font-size: 3em;
}

.square-512 {
    color: #f9f6f2;
    background-color: #edc850;
    font-size: 3em;
}

.square-1024 {
    color: #f9f6f2;
    background-color: #edc53f;
    font-size: 2.5em;
}

.square-2048 {
    color: #f9f6f2;
    background-color: #edc22e;
    font-size: 2.4em;
}

.instructions {
    position: absolute;
    margin: 50px;
    width: 350px;
    top: 0;
    z-index: 20;
    padding: 20px;
    color: #776e65;
}

.header {
    font-size: 2em;
    font-weight: bold;
}

.game-over-modal {
    color: #776e65;
}
