{:deps {com.oracle.truffle/truffle-api {:mvn/version "1.0.0-rc5"}
        com.oracle.truffle/truffle-dsl-processor {:mvn/version "1.0.0-rc5"}
        com.oracle.truffle/truffle-tck {:mvn/version "1.0.0-rc5"}
    	org.antlr/Antlr4-runtime {:mvn/version "4.7"}}}
