/target
/.cargo
apps/chip8/chip8-gui

# Copyrighted arcade ROM — user must supply (see apps/invaders/README.md)
roms/invaders.rom
roms/invaders.[hgfe]

# compiled app binaries
apps/invaders/invaders
apps/invaders/*.o
