/build
src/apps/chip8/chip8-gui
src/apps/web/*.wasm

# compiled app binaries
src/apps/invaders/invaders
src/apps/invaders/*.o

# repro build artifacts
tests/repro/*/repro
tests/repro/*/librepro.a
tests/repro/*/librepro.o
