{:deps {cheshire {:mvn/version "5.8.1"}
        com.github.davidsantiago/hickory {:mvn/version "master-SNAPSHOT"}
        meander/epsilon {:mvn/version "0.0.292"}}
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}}
