{:deps {nextjournal.clojure-mode/nextjournal.clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "d6e08e994c3bc901de9a96a5fdc0b5d38406ebad"}
        reagent/reagent  {:mvn/version "0.10.0"}
        thheller/shadow-cljs {:mvn/version "2.13.0"}}
 :paths ["src"]}
