{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
      #_org.clojure/clojurescript #_{:git/url "https://github.com/clojure/clojurescript.git"
                                   :sha "6431e6435ad9fc85e766752f4d6939ff978db5a5"}
        uix.core {:git/url "https://github.com/roman01la/uix.git"
                  :deps/root "core"
                  :sha "2105695b4600c320724bd6a24df978be3db30ad6"}
        uix.dom {:git/url "https://github.com/roman01la/uix.git"
                 :deps/root "dom"
                 :sha "2105695b4600c320724bd6a24df978be3db30ad6"}}
 :paths ["pages" "src"]}
