{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        uix.core {:git/url "https://github.com/roman01la/uix.git"
                  :deps/root "core"
                  :sha "2105695b4600c320724bd6a24df978be3db30ad6"}
        uix.dom {:git/url "https://github.com/roman01la/uix.git"
                 :deps/root "dom"
                 :sha "2105695b4600c320724bd6a24df978be3db30ad6"}}
 :paths ["pages"]}
