{:deps {noprompt/meander {:git/url "https://github.com/noprompt/meander.git"
                          :sha "530c7c3b57d4093d3638aefb339f9cc614de6002"}
        org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}}}
