{:deps {noprompt/meander {:local/root "/Users/jimmyhmiller/Documents/Code/open-source/meander"}

        #_{:git/url "https://github.com/noprompt/meander.git"
           :sha  "1ea2a2bf45f4f9ea778a67d415bb2d03e73a6469"}
        #_meander/epsilon #_{:mvn/version "0.0.221"}
        meander/gamma {:mvn/version "0.0.27"}
        meander/delta {:mvn/version "0.0.137"}
        cheshire {:mvn/version "5.8.1"}
        org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}
        org.clojure/core.match {:mvn/version "0.3.0"}
        hiccup {:mvn/version "1.0.5"}
        clj-kondo {:mvn/version "2019.07.31-alpha"}
        org.clojure/test.check {:mvn/version "0.9.0"}
        com.rpl/specter {:mvn/version "1.1.2"}}}
