(
    position: (
        x: 2319.719,
        y: 132.71448,
    ),
    size: (
        width: 200.0,
        height: 100.0,
    ),
    on_click: [
        SaveWidgets,
    ],
    data: Noop,
);
(
    position: (
        x: 2656.1172,
        y: 837.97656,
    ),
    size: (
        width: 512.0,
        height: 512.0,
    ),
    on_click: [],
    data: Image(
        data: (
            path: "./resources/test.png",
        ),
    ),
);
(
    position: (
        x: 2452.6172,
        y: 879.39844,
    ),
    size: (
        width: 100.0,
        height: 100.0,
    ),
    on_click: [
        SaveWidgets,
    ],
    data: Noop,
);
(
    position: (
        x: 3015.3984,
        y: 128.11719,
    ),
    size: (
        width: 100.0,
        height: 100.0,
    ),
    on_click: [],
    data: Circle(
        radius: 10.0,
        color: (
            r: 1.0,
            g: 0.0,
            b: 0.0,
            a: 1.0,
        ),
    ),
);
(
    position: (
        x: 2604.4922,
        y: 223.3125,
    ),
    size: (
        width: 500.0,
        height: 500.0,
    ),
    on_click: [],
    data: TextPane(
        text_pane: (
            contents: "Widget(\n    position: Position(\n        x: 500.0,\n        y: 500.0,\n    ),\n    size: Size(\n        width: 100.0,\n        height: 100.0,\n    ),\n    on_click: [],\n    data: Compound(\n        children: [\n            2,\n            3,\n            5,\n        ],\n    ),\n)",
            line_height: 40.0,
            offset: (
                x: 0.0,
                y: 0.0,
            ),
        ),
    ),
);
(
    position: (
        x: 56.921875,
        y: -85.58594,
    ),
    size: (
        width: 200.0,
        height: 200.0,
    ),
    on_click: [],
    data: Text(
        text: "Lith",
        text_options: (
            font_family: "Ubuntu Mono",
            font_weight: Bold,
            size: 120.0,
            color: (
                r: 1.0,
                g: 1.0,
                b: 1.0,
                a: 1.0,
            ),
        ),
    ),
);
(
    position: (
        x: 3015.3984,
        y: 128.11719,
    ),
    size: (
        width: 100.0,
        height: 100.0,
    ),
    on_click: [],
    data: Compound(
        children: [
            2,
            3,
            5,
        ],
    ),
);
(
    position: (
        x: 2601.6917,
        y: 1408.7822,
    ),
    size: (
        width: 600.0,
        height: 600.0,
    ),
    on_click: [],
    data: Wasm(
        wasm: (
            path: "/Users/jimmyhmiller/Documents/Code/PlayGround/rust/editor2/target/wasm32-wasi/debug/counter.wasm",
            state: Some("{\"contents\":\"\",\"line_height\":30.0,\"offset\":{\"x\":0.0,\"y\":0.0},\"cursor\":{\"line\":0,\"column\":0},\"text_buffer\":{\"bytes\":[]}}"),
        ),
    ),
);
(
    position: (
        x: 50.292114,
        y: 266.1184,
    ),
    size: (
        width: 2000.0,
        height: 300.0,
    ),
    on_click: [],
    data: Wasm(
        wasm: (
            path: "/Users/jimmyhmiller/Documents/Code/PlayGround/rust/editor2/target/wasm32-wasi/release/asm.wasm",
            state: None
        ),
    ),
);
