{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.597"}
  uix.core {:git/url "https://github.com/roman01la/uix.git"
            :deps/root "core"
            :sha "a9166e5db4c7cef09c7e85e3459554e09a19cc5b"}
  uix.dom {:git/url "https://github.com/roman01la/uix.git"
           :deps/root "dom"
           :sha "a9166e5db4c7cef09c7e85e3459554e09a19cc5b"}}}
